$leftPanelWidth: 400px;

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: $leftPanelWidth;
  height: 100%;
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem;
  border-right: 1px solid gray;

  &-content {
    flex-grow: 1;
    overflow: auto;
  }

  &-footer {
    display: flex;
    button {
      flex-grow: 1;
    }
  }
}

.right-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: $leftPanelWidth;
  overflow: auto;
  flex-grow: 1;
  padding: 1rem;
  box-sizing: border-box;

  &-content {
    flex-grow: 1;
    padding-top: 116px;

    .info-text {
      text-align: center;
    }
  }

  &-footer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    button {
      flex-grow: 1;
    }
  }
}
