<div class="container">
  <div class="left-panel">
    <app-contact-filters class="contact-filters" />
    <div class="left-panel-content">
      <app-contact-list [data]="(contactGroup$ | async) || undefined" />
    </div>
    <div class="left-panel-footer">
      <button mat-flat-button (click)="handleAddContactClick()">Add new contact</button>
    </div>
  </div>
  <div class="right-panel">
    <div class="right-panel-content">
      <app-contact-details />
    </div>
    <div class="right-panel-footer">
      <button mat-flat-button>Edit contact</button>
      <button mat-flat-button color="warn" (click)="handleEditContactClick()">Delete Contact</button>
    </div>
  </div>
</div>
