<h2 mat-dialog-title>Add new contact</h2>
<mat-dialog-content>
  <form #contactForm="ngForm">
    <mat-form-field class="w-100">
      <mat-label>First name</mat-label>
      <input matInput [(ngModel)]="contact.firstName" name="firstName" />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Last name</mat-label>
      <input matInput [(ngModel)]="contact.lastName" name="lastName" />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Group filter</mat-label>
      <mat-select [(ngModel)]="contact.group" name="group">
        <mat-option *ngFor="let group of groups" [value]="group">{{ group }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="secondary">Cancel</button>
  <button mat-flat-button [mat-dialog-close]="contactForm.value" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
